<h1>Make your form here</h1>

<form action="/show" method="post">
  <label for="">Pirate Name: <input type="text" name="pirate[name]"></label>
    <label for="">Pirate Weight: <input type="text" name="pirate[weight]"></label>
      <label for="">Pirate Height: <input type="text" name="pirate[height]"></label>
        <label for="">Ship Name: <input type="text" name="pirate[ships][][name]"></label>
          <label for="">Ship Type: <input type="text" name="pirate[ships][][type]"></label>
            <label for="">Ship Booty: <input type="text" name="pirate[ships][][booty]"></label>
            <label for="">Ship Name: <input type="text" name="pirate[ships][][name]"></label>
              <label for="">Ship Type: <input type="text" name="pirate[ships][][type]"></label>
                <label for="">Ship Booty: <input type="text" name="pirate[ships][][booty]"></label>
            <input type="submit" id="submit">
</form>
